@model IEnumerable<World.Web.Models.City>

@{

}
<div class="container-fluid">
    <div class="form-group">
        <input type="search" class="form-control" id="city-jets-search" placeholder="Search" />
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-hover table-striped">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.District)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Population)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="jets-search-content">
                            <strong> @Html.DisplayFor(modelItem => item.Name) </strong>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.District)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Population)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id"><i class="fa fa-pencil" aria-hidden="true"></i></a> |
                            <a asp-action="Delete" asp-route-id="@item.Id" onclick="return confirm('Are sure wants to delete?');"><i class="fa fa-trash" aria-hidden="true"></i></a>
                        </td>
                    </tr>
                }
            </table>
            </div>
        </div>
    </div>
@section Scripts{
<script src="https://cdnjs.cloudflare.com/ajax/libs/jets/0.11.0/jets.min.js"></script>
<script>
	    (function ($) {
	        $(function () {
	            var cityInPlaceSearchJets = new Jets({
	                searchTag: '#city-jets-search',
	                contentTag: '.jets-search-content'
	            });

	            jets.search('search phrase')

	            $('#show-all').click(function (e) {
	                $('#lea-jets-search').val('').trigger({ type: 'keypress', which: 13 });
	                cityInPlaceSearchJets.search();
	            });


	            //handle approve...
	            $(document).on('click.approve', '.btn-approve', function (e) {
	                e.preventDefault();
	                $.ajax({
	                    url: this.href,
	                    type: 'post',
	                    success: function (data, textStatus, jqXHR) {
	                        location.href = location.href;
	                    },
	                    error: function (jqXHR, textStatus, errorThrown) {
	                        mspModals.hideProcessing();
	                        alert(errorThrown);
	                    },
	                    beforeSend: function () {
	                        mspModals.showProcessing();
	                    }
	                });
	            });
	        });
	    })(jQuery);
</script>
<script src="./jets.min.js"></script>
}
