@addTagHelper *, TagHelperSamples.Bootstrap
@model IEnumerable<World.Web.Models.Country>

@{
    ViewData["Title"] = "Search";
    string search = ViewBag.Search;
}

<h2><i class="glyphicon glyphicon-search"></i> @ViewBag.Title</h2>

<div id="account-search" class="row hidden-print">
    <div class="col-md-4">
        <div class="input-group">
            <input type="text" id="search" name="search" class="form-control" placeholder="Search for an Country" autofocus>
            <span class="input-group-btn">
                <button id="search-button" class="btn btn-default"><i class="fa fa-search">&nbsp;</i> Search</button>
            </span>
        </div>
    </div>
</div>
<br />
@if ((search?.Any() ?? false) && (!Model?.Any() ?? false))
{
    <alert class="col-md-2" message="No Countries Found" icon="info">
    </alert>
}

@if (Model?.Any() ?? false)
{
    <hr />
    <div class="col-md-6 results">
        @foreach (var u in Model.OrderBy(u => u.continent).ThenBy(u => u.name).ThenBy(u => u.code))
        {
            <p> <strong>@u.continent </strong> | @u.name | @u.region | @u.population <span class="label label-info">@u.code</span></p> }
    </div>
}
<div class="clearfix"></div>

@section Scripts {
    <script type="text/javascript">
		$(function () {
			//handle search...
			$(document).on('click.search', '#search-button', function () {
				var params = $('#account-search').find("input").serialize();
				var url = '@Url.Action("Index", "Search")';

				if (params)
					url += '?' + params;

				location.href = url;
			});

			//trigger search on enter key...
			$('#search').keyup(function (e) {
				if (e.keyCode == 13) {
					$('#search-button').trigger('click');
					//$(this).trigger("enterKey");
				}
			});
		});
    </script>
}
